SQLALCHEMY_DATABASE_URI=
S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
JWT_SEED=

# For Deploy
PROJECT=
DOMAIN_BASE=
STAGE=
DOMAIN=%(STAGE)s.%(DOMAIN_BASE)s
DPR_API_GIT=
