.showcase {
  max-width: 100%;
}
.side-bar {
  background-color: $brand-success;
}
.side-img {
  padding: 3% 4% 0 4%;
}
.side-section {
  margin: 50px 2vw 0 4vw;
  overflow-wrap: break-word;
  .btn-group a.btn {
    border: 0;
  }
}
.header {
  max-width: 700px;
  margin: auto;
}
.row-eq-height {
  max-width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
h2.publisher {
  font-style: italic;
  font-size: 1.8em;
}
.dataset {
  .main-img {
    padding: 10%;
  }
  .info {
    padding-top: 5%;
  }
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.7em;
    margin-bottom: 0.8em;
  }
  .actions .row {
    margin-bottom: 2em;
  }
  .react-me {
    text-align: center;
  }
  .part {
    margin-bottom: 4em;
  }
  .btn-group {
    margin-bottom: 10px;
  }
}

.text-cube {
  margin: 0;
  padding: 2% 0;
}
.left-cube {
  padding-right: 0;
}
.right-cube {
  padding-left: 0;
}

.handsontable {
  height: 432px;
  overflow: hidden;
}
.main-section {
  padding-left: calc(2vw + 15px);
}
