/* Jumbotron main
====================================*/
.jumbotron-primary {
  background-color: white;
  border-bottom: 1px solid;
  background-image: url("../img/elephant-blow.png");
  background-repeat: no-repeat;
  background-position: 88% 99%;
  background-size: 15%;
  padding-bottom: 90px;
}
.jumbotron {
  margin-bottom: 0;
  .terminal-heading {
    color: $gray;
    margin-bottom: 0;
    span {
      padding: 3px;
      border: 1px solid;
    }
  }
  h1 {
    font-weight: 200;
    margin-bottom: 60px;
  }
}
