/* Jumbotron message
====================================*/
.jumbotron-message {
  margin-top: 5px;
  background-color: white;
  border-bottom: 1px solid $gray-light;
  border-top: 1px solid $gray-light;
  color: $gray;
  .message {
    p {
      font-size: $font-size-large;
    }
    font-weight: lighter;
    h3 {
      color: $brand-warning;
    }
  }
  .glyphicon {
    font-size: 80px;
    color: $brand-primary;
    padding-top: 30%;
  }
}
