/* Jumbotron main
====================================*/
.jumbotron-primary {
  background: linear-gradient(90deg, #02bac1 50%, #ecd3ad 50%);
  padding-bottom: 5em;
}
.jumbotron {
  padding-top: 10px;
  margin-bottom: 0;
  .terminal-heading {
    color: $gray;
    margin-bottom: 0;
    span {
      padding: 3px;
      border: 1px solid;
    }
  }
  h1 {
    font-weight: 200;
    margin-bottom: 30px;
  }
  form {
    margin-bottom: 30px;
    padding: 0 25%;
  }
  .narrow {
    padding: 0 35%;
    hr {
      margin-bottom: 0;
      border-top: 2px solid #000;
    }
  }
  .message {
    font-style: italic;
  }
  a {
    margin: 20px 0;
  }
}
