/* Navbar
====================================*/

.navbar {
  -webkit-box-shadow: 0 6px 6px -6px #999;
  -moz-box-shadow: 0 6px 6px -6px #999;
  box-shadow: 0 6px 6px -6px #999;
  .navbar-main {
    width: 70%;
    margin: auto;
  }
  .navbar-right {
    li a {
      color: $gray-dark;
    }
  }
  .main-logo {
    width: 140px;
    height: 50px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url('../img/data-hub-logo.png') no-repeat;
    background-size: 100%;
  }
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
