/* Power users vs Data analysts
====================================*/
.features {
  margin-bottom: 70px;
  .row {
    > div {
      width: 38%;
      margin: 3% 6%;
      padding: 0;
    }
    .panel-heading {
      background-color: $brand-warning;
      color: white;
    }
    .list-group-item {
      border: 0;
    }
  }
  .glyphicon-ok {
    color: $brand-warning;
  }
}
