h2 {
  margin-top: 0;
}

#publisher-package-input {
  margin-bottom: 30px;
  border-color: $gray;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
