/* Section 1
====================================*/

.section {
  border-bottom: 1px solid;
  background-color: #02bac1 !important;
  background-image: url("../img/elephant-white.png");
  background-repeat: no-repeat;
  background-position: 0% 135%;
  background-size: 45%;
  padding: 100px 0 450px 0;
  h3, p {
    color: white;
    margin-bottom: 30px;
  }
  input {
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}
