@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "customVariables";
@import "../bootstrap/assets/stylesheets/bootstrap";
@import "generals";
@import "navbar";
@import "jumbotron_main";
@import "panels";
@import "sections";
@import "jumbotron_message";
@import "footer";
