{% macro dataset_summary(dataset) -%}
  <div class="dataset summary">
    <img src="https://assets.okfn.org/p/data/img/icon-128.png"
      alt="{{dataset.title}}" class="logo" />
    <h3><a href="/{{dataset.owner}}/{{dataset.id}}">{{dataset.title}}</a></h3>
    <div class="description">{{dataset.description}}</div>
    <div class="actions">
      <a href="/{{dataset.owner}}/{{dataset.id}}" class="btn btn-primary btn-small">View &raquo;</a>
      {% if dataset.download_url %}
      <a href="{{dataset.download_url}}" class="btn btn-success btn-small">Download CSV &raquo;</a>
      {% endif %}
    </div>
    <div class="source">Source: {{listify(dataset.sources)}}</div>
    <ul class="keywords">
      {% for kw in dataset.keywords or [] %}
      <li>{{kw}}</li>
      {% endfor %}
    </ul>
  </div>
{%- endmacro %}

{% macro listify(list_) -%}
  {% for item in list_ or [] %}
  <a href="{{item.web}}" title="Uses data from {{item.name}}" target="_blank">
    {{item.name}}
    <i class="icon-external-link"></i>
  </a>
  {% endfor %}
{%- endmacro %}

{% macro dataset_show(dataset, jsonDataPackage, dataViews, showDataApi, datapackageUrl) -%}
<div class="dataset show">
  <div class="row">
    <div class="col-md-8">
      <img src="{{dataset.image or 'https://assets.okfn.org/p/data/img/icon-128.png'}}"
        alt="{{dataset.title}}" class="logo" />
      <div class="description">{{dataset.readme|truncate|markdown}} <a href="#readme">Read more</a></div>

      <div class="actions">
        <div class="btn-group">
          <a href="#data" class="btn btn-large btn-primary"><i class="icon-download-alt icon-white"></i> Download Data</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 sidebar">
      <div class="btn-group">
        <a href="{{ datapackageUrl }}" class="btn btn-small btn-default"><i class="icon-download-alt"></i> Metadata</a></a>
        {% if dataset.bugs and dataset.bugs.url %}
        <a href="{{dataset.bugs.url}}" class="btn btn-small" target="_blank"><i class="icon-exclamation-sign icon-white"></i> Report an Issue</a>
        {% endif %}
      </div>
      <div class="homepage truncate"><i class="icon-home"></i> <a href="{{dataset.homepage}}" title="Home Page">{{dataset.homepage}}</a></div>
      {% if dataset.licenses %}
      <div class="license">
        <i class="icon-legal"></i> <a href="{{dataset.licenses[0].url}}" title="Available under the following License">{{dataset.licenses[0].name or dataset.licenses[0].id}}</a>
        <br />
        <a href="https://opendefinition.org" title="This data is open data as per the Open Definition"><img src="https://assets.okfn.org/images/buttons/od_80x15_blue.png" /></a>
      </div>
      {% endif %}
      <div class="source">
        <h5>Sources</h5>
        {{listify(dataset.sources)}}
      </div>
    </div>
  </div>

  <hr/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <div class="react-me" data-type="data-views"></div>
  <div class="resources" id="data">
    <h2>Data Files</h2>
    <div class="resource-listing">
      <table class="table resource-listing" style="border-radius:3px; padding:3px;margin-bottom:0">
        <thead></thead>
        <tbody>
        {% for resource in dataset.resources %}
          <tr>
            <td><i class="icon-file-text-alt"></i><a href="#resource-{{resource.name}}">co2-mm-mlo</a></td>
            <td></td>
            <td>csv</td>
            <td class="download truncate">
                <a href="{{ datapackageUrl | replace("/datapackage.json","")}}/{{ resource.path }}">
                    <i class="icon-download-alt"></i> Download
                </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% for resource in dataset.resources %}
    <div class="resource-info">
      <h3 id="resource-{{resource.name}}"><i class="icon-file-text-alt"></i> {{resource.name}}</h3>
      <div id="resource-{{loop.index - 1}}" class="react-me"
           data-type="resource-preview" data-resource="{{ loop.index - 1 }}"></div>
      {% if resource.format == "csv" %}
       <h4>Field Information</h4>
       <table class="table table-bordered table-striped resource-summary">
         <thead>
           <tr>
             <th>Field Name</th>
             <th>Order</th>
             <th>Type (Format)</th>
             <th>Description</th>
           </tr>
         </thead>
         <tbody>
           {% for field in resource.schema.fields %}
           <tr>
             <th>{{field.name}}</th>
             <td>{{loop.index}}</td>
             <td class="type type-{{field.type}}">{{field.type}} {% if field.format %}({{field.format}}) {% endif %}</td>
             <td>{{field.description}}</td>
           </tr>
           {% endfor %}
         </tbody>
       </table>
     {% endif %}
    </div>
    {% endfor %}
  </div> <!-- / resoures -->

  <div class="row moreinfo">
    <div class="col-md-8">
      <h2 id="readme">README</h2>
      <div class="readme">{{dataset.readme|markdown}}</div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <script type="text/javascript">
    var DATA_PACKAGE_URL = "{{ datapackageUrl }}";
  </script>
</div><!-- / dataset show -->
{%- endmacro %}

{% macro package_list_show(publisher, packages) -%}
  {%- for package in packages  %}
    <div class="card mb-2">
      <div class="card-block">
        <h5 class="card-title"><span class="fa fa-files-o"></span> {{package.descriptor.title}}</h5>
        <h6>[{{ package.name }}]</h6>
        <div class="panel-body">
            {% if package.readme %}
            <p>
            {{ package.readme|truncate(50) }}
            </p>
            {% endif %}
        </div>
        <div class="row show-grid clearfix">
            <div class="col-sm-2">
              <img src="https://avatars3.githubusercontent.com/u/22451011?v=3&s=200" class="img-fluid rounded-circle" />
            </div>
            <div class="col-sm-6 align-self-center">
                <small><a href="/{{ publisher }} ">by {{ publisher }}</a></small>
            </div>
            <div class="col-sm-4 pull-right align-self-center">
                <a class="btn btn-secondary" href="/{{ publisher }}/{{ package.name }}">Explore >></a>
            </div>
        </div>
      </div>
    </div>
  {%- endfor %}
{%- endmacro %}

{% macro search_package_list(packages) -%}
  {%- for package in packages %}
    <div class="card mb-2 card-outline-secondary" >
      <div class="card-block">
        <h5 class="card-title">
          <span class="fa fa-files-o"></span>
          {{package.descriptor.title}}
        </h5>
        <h6>[{{ package.name }}]</h6>
        <div class="panel-body">
            {% if package.readme %}
          <p>
          {{ package.readme|truncate(50) }}
          </p>
            {% endif %}
        </div>
        <div class="row show-grid clearfix">
          <div class="col-sm-1">
            <img src="https://avatars3.githubusercontent.com/u/22451011?v=3&s=200" class="img-fluid rounded-circle" />
          </div>
          <div class="col-sm-7 align-self-center">
              <small><a href="/{{ package.publisher_name }} ">by {{ package.publisher_name }}</a></small>
          </div>
          <div class="col-sm-4 pull-right align-self-center">
              <a class="btn btn-secondary" href="/{{ package.publisher_name }}/{{ package.name }}">Explore >></a>
          </div>
        </div>
      </div>
    </div>
  {%- endfor %}
{%- endmacro %}
