<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title%}{{title}}{% endblock %}
    - Frictionless Open Data
  </title>
  <meta name="author" content="Open Knowledge International">
  <meta name="description" content="{{title}}. Frictionless open data. Open data with tools to make it easy to use. Managed by Open Knowledge International">
  <meta name="keywords" content="open data,data package,reference data,indicators">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" media="screen" href="{{ s3_cdn }}/static/css/style.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
  <body>
    <div class="header clearfix">
      <nav class="navbar navbar-toggleable-lg bg-faded" style="background-color: #f7f7f7;">
        <a class="navbar-brand" href="/" style="font-size:25px;color:#31dac6;font-weight:bold;">DPR</a>
        <span class="col-sm-1"></span>
        <form id="navbar-search-form" class="input-group col-sm-7" action="/search" method="GET">
          <input id="navbar-search" name="q" type="text" class="form-control input-md" placeholder="Search . . . ." required />
          <span class="input-group-btn">
            <button class="btn btn-outline-secondary btn-md" type="button" onclick="search()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </form>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <ul class="nav nav-pills">
            <li class="nav-item" >
              <a class="nav-link" href="/apidocs/index.html" >
                API
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="https://frictionlessdata.io/">
               About
              </a>
            </li>
            <div id="nav-bar-login"></div>
            <li>
              <a href="https://okfn.org/">
                <img src="//a.okfn.org/img/oki/landscape-rgb-165x43.png" alt="logo" style="height: 33px; margin: auto" />
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    {% block content %}{{content}}{% endblock %}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="copy">
              <p>
                Copyright © 2015 Open Knowledge International
                <br />
                  <a href="https://okfn.org/terms-of-use/">Terms of Use</a>
                  &ndash;
                  <a href="https://okfn.org/ip-policy/">IP Policy</a>
                <br/>
                <a href="https://opendefinition.org/okd/" title="Open Data">
                  <img src="https://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="" border="" /></a>
                <a href="https://opendefinition.org/ossd/" title="Open Online Software Service">
                  <img src="https://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" border="" />
                </a>
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-8">
                <p>This service is run by</p>
                <img src="https://a.okfn.org/img/oki/landscape-rgb-165x43.png" alt="post" />
              </div>
              <div class="col-sm-4 connect">
                <p>Connect with Us</p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="https://twitter.com/okfnlabs"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="https://facebook.com/OKFNetwork"><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.youtube.com/user/openknowledgefdn"><i class="fa fa-youtube"></i></a></li>
                  <li class="list-inline-item"><a href="https://plus.google.com/112608652597658788737"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
    <script type="text/javascript" src="{{ s3_cdn }}/static/vendor/jwt-decode.min.js"></script>
    <script type="text/javascript" src="{{ s3_cdn }}/static/js/dashboard.js"></script>


    {% block scripts %}{% endblock %}
    <script type="text/javascript">
      function search() {
        var searchTerm = document.getElementById("navbar-search").value;
        if (searchTerm) {
          document.getElementById("navbar-search-form").submit()
        }
      }
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33874954-11']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      var local_jwt = localStorage.getItem('encoded_token');
      var lock = new Auth0Lock("{{ auth0_client_id }}", "{{ auth0_domain }}", {
        auth: {
          redirectUrl: window.location.origin + '/api/auth/callback',
          responseType: 'code',
          params: {
            scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
          }
        },
        theme: {
          logo: "https://o.twimg.com/2/proxy.jpg?t=HBhqaHR0cHM6Ly9jZG4tYnVzaW5lc3MuZGlzY291cnNlLm9yZy91cGxvYWRzL29rZm4vb3JpZ2luYWwvMlgvNS81MmU4MjAwZTUyYmJmM2ExYTY2ZWM1ZTEzNGYxMTdhMTQ5ODkwNDM1LnBuZxSgAhSgAhwU8AEU8AEAABYAEgA&s=1_uZcBWKG_2I6nOZ4YBkAcR7IMTvwZy9BwrAvsuGjyw",
          primaryColor: '#31dac6'
        },
        languageDictionary: {
          emailInputPlaceholder: "something@youremail.com",
          title: "DataPackage"
        }
      });
      if (local_jwt != null){
            var decoded = jwt_decode(local_jwt);
            var currentTime = Math.floor((new Date).getTime()/1000);
            if (decoded.exp < currentTime){
                alert('expired');
                localStorage.removeItem("encoded_token");
                auth0();
            } else{
              $("#nav-bar-login")
                .replaceWith('<button class="btn btn-small btn-outline-success" id="logout123"> ' +
                  '<a class="nav-link" href="/logout">Logout</a> ' +
                  '</button>');
              $('#logout123').on('click', function(e) {
                localStorage.removeItem("encoded_token");
              });
            }
        }
      else {
        auth0();
      }
      function auth0() {
       $("#nav-bar-login")
         .replaceWith('<button class="btn btn-small btn-outline-success" onclick="lock.show();">Sign Up | Sign In</button>')
      }
    </script>
  </body>

</html>