<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title%}{{title}}{% endblock %}
    - Frictionless Open Data
  </title>
  <meta name="author" content="Open Knowledge International">
  <meta name="description" content="{{title}}. Frictionless open data. Open data with tools to make it easy to use. Managed by Open Knowledge International">
  <meta name="keywords" content="open data,data package,reference data,indicators">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="{{ s3_cdn }}/static/stylesheets/app.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
</head>
  <body>
    <!-- Page header -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <a class="main-logo pull-left" href="/"></a>
            <div class="navbutton">
              <a href="/apidocs/index.html">API</a>
              <a href="https://frictionlessdata.io/">About</a>
            </div>
          </div>

          <div class="col-sm-7 search-div">
            <form class="form-inline" action="/search" method="GET">
              <div class="form-group">
                <input type="text" class="form-control" id="searchbox" placeholder="Data Package" name="q">
              </div>
            </form>
          </div>
          <div class="col-sm-2">
            <div id="nav-bar-login"></div>
          </div>
        </div>
      </div>
    </div>

    {% block content %}{{content}}{% endblock %}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="copy">
              <p>
                Copyright © 2015 Open Knowledge International
                <br />
                  <a href="https://okfn.org/terms-of-use/">Terms of Use</a>
                  &ndash;
                  <a href="https://okfn.org/ip-policy/">IP Policy</a>
                <br/>
                <a href="https://opendefinition.org/okd/" title="Open Data">
                  <img src="https://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="" border="" /></a>
                <a href="https://opendefinition.org/ossd/" title="Open Online Software Service">
                  <img src="https://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" border="" />
                </a>
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-8">
                <p>This service is run by</p>
                <img src="https://a.okfn.org/img/oki/landscape-rgb-165x43.png" alt="post" />
              </div>
              <div class="col-sm-4 connect">
                <p>Connect with Us</p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="https://twitter.com/okfnlabs"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="https://facebook.com/OKFNetwork"><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.youtube.com/user/openknowledgefdn"><i class="fa fa-youtube"></i></a></li>
                  <li class="list-inline-item"><a href="https://plus.google.com/112608652597658788737"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ s3_cdn }}/static/vendor/jwt-decode.min.js"></script>
    <script type="text/javascript" src="{{ s3_cdn }}/static/js/dashboard.js"></script>


    {% block scripts %}{% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33874954-11']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      var local_jwt = localStorage.getItem('encoded_token');
      if (local_jwt != null){
            var decoded = jwt_decode(local_jwt);
            var currentTime = Math.floor((new Date).getTime()/1000);
            if (decoded.exp < currentTime){
                localStorage.removeItem("encoded_token");
                login();
            } else{
              $("#nav-bar-login")
                .replaceWith('<button class="btn btn-small btn-outline-success p-0" id="logout123"> ' +
                  '<a class="nav-link" href="/logout">Logout</a> ' +
                  '</button>');
              $('#logout123').on('click', function(e) {
                localStorage.removeItem("encoded_token");
              });
            }
        }
      else {
        login();
      }
      function login() {
       $("#nav-bar-login")
         .replaceWith('<a class="btn btn-small btn-warning pull-right search-div" href="/api/auth/login">Sign In With <span class="fa fa-github fa-lg"></span></a>')
      }
    </script>
  </body>

</html>
