<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title%}{{title}}{% endblock %}
    - Frictionless Open Data
  </title>
  <meta name="author" content="Open Knowledge International">
  <meta name="description" content="{{title}}. Frictionless open data. Open data with tools to make it easy to use. Managed by Open Knowledge International">
  <meta name="keywords" content="open data,data package,reference data,indicators">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="{{ s3_cdn }}/static/stylesheets/app.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
</head>
  <body>
    <!-- Page header -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="main-logo pull-left" href="#"></a>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-center">
            <li><a href="https://frictionlessdata.io/">About</a></li>
            <li><a href="#">Publish Data</a></li>
            <li><a href="#">Find Data</a></li>
            <li><a href="#">Data Package</a></li>
            <li><a href="/apidocs/index.html">API</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><div id="nav-bar-login"></div></li>
          </ul>
        </div>
      </div>
    </div><!-- End of page header -->

    {% block content %}{{content}}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ s3_cdn }}/static/vendor/jwt-decode.min.js"></script>
    <script type="text/javascript" src="{{ s3_cdn }}/static/js/dashboard.js"></script>


    {% block scripts %}{% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33874954-11']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      var local_jwt = localStorage.getItem('encoded_token');
      if (local_jwt != null){
            var decoded = jwt_decode(local_jwt);
            var currentTime = Math.floor((new Date).getTime()/1000);
            if (decoded.exp < currentTime){
                localStorage.removeItem("encoded_token");
                login();
            } else{
              $("#nav-bar-login")
                .replaceWith('<button class="btn btn-small btn-outline-success p-0" id="logout123"> ' +
                  '<a class="nav-link" href="/logout">Logout</a> ' +
                  '</button>');
              $('#logout123').on('click', function(e) {
                localStorage.removeItem("encoded_token");
              });
            }
        }
      else {
        login();
      }
      function login() {
       $("#nav-bar-login")
         .replaceWith('<a href="/api/auth/login">Sign In With <span class="fa fa-github fa-lg"></span></a>')
      }
    </script>
  </body>

</html>
