{% extends "base.html" %}

{% block scripts%}
<script>
{% if encoded_token %}
localStorage.setItem("encoded_token","{{encoded_token}}");
{% endif %}
$('#logout').on('click', function(e) {
    localStorage.removeItem("encoded_token");
});
</script>
{% endblock %}
{% block content %}
	<div class="row">
		<div align="center">
            
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>{{user.user_name}}</h3>
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="help-block">{{user.user_name}}</span>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span class="help-block">{{user.email}}</span>
                    
                </div>
  	    	</div>
  	    </div>
	</div>

    <div class="row">
            
            
            <div class="listing-tab col-md-12">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li role="presentation" class="active"><a href="#userinfo" aria-controls="track" role="tab" data-toggle="tab">User Profile</a></li>
                    <li role="presentation"><a href="#access" aria-controls="albums" role="tab" data-toggle="tab">Secret Key</a></li>
                    <li role="presentation"><a href="#publish" aria-controls="albums" role="tab" data-toggle="tab">Publish Datapackage</a></li>
                  </ul>
                
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="userinfo">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="">{{user.user_name}}</span>
                    <span class="help-block"></span>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span class="">{{user.email}}</span>   
                    </div>
                    <div role="tabpanel" class="tab-pane" id="access">
                    <span class="glyphicon glyphicon-wrench"></span>
                    <span class="">{{user.secret}}</span>
                        
                  </div>
                  <div role="tabpanel" class="tab-pane" id="publish">
                    You can publish the Data Package using Datapackage Manager.

                    	<div class="panel panel-info">
    						<div class="panel-heading">
        						<h3 class="panel-title">Step 1</h3>
    						</div>
    						<div class="panel-body">Create the Data Package. For more information on creating Datapackage follow this <a href="http://frictionlessdata.io/data-packages/">link</a>. </div>
						</div>

						<div class="panel panel-info">
    						<div class="panel-heading">
        						<h3 class="panel-title">Step 2</h3>
    						</div>
    						<div class="panel-body">Install the Datapackage Manager. Follow this <a href="https://github.com/frictionlessdata/dpmpy">link</a> for more information.</div>
						</div>
						<div class="panel panel-info">
    						<div class="panel-heading">
        						<h3 class="panel-title">Step 3</h3>
    						</div>
    						<div class="panel-body">Supply Configuration file as mentioned in step 2 and Publish.<span class="help-block">Use your Secret key in Configuration file for Publishing Packages</span></div>
    						
						</div>
					</div>
            
    </div>

{% endblock %}