{% extends "base.html" %}

{% block title %}
Dashboard {{user.name}}
{% endblock %}

{% block scripts%}
<script>
localStorage.setItem("encoded_token","{{encoded_token}}");
window.history.pushState("", "Dashboard", "/");
</script>
{% endblock %}
{% block content %}
<div class="container">
    {% if user.email != None %}
	<div class="row  justify-content-center">
	  <div class="col-4">
        <br>
        <img src="{{user.email | gravatar(size=50)}}" class="img-thumbnail"/>
        <br>
        <br>
        <span class="fa fa-envelope"></span>
        <span class="help-block">{{user.email}}</span>
  	  </div>
	</div>
    {% endif %}
	<div>
		<h1>
			Welcome {{user.name}}!
		</h1>
		<h5>Your Access Token: {{user.secret}}</h5>
	</div>
	<div>
		<h3>Start publishing your data packages in 3 easy steps:</h3>
		<br>
{% filter markdown %}

Install dpmpy, the data package manager  command line tool:

	$ [sudo] pip install git+https://github.com/frictionlessdata/dpm-py.git

Set your configuration:

	$ dpmpy configure
	> Username:  # {{user.name}}
	# Use your secret token here (also visible at the top of the page)
	> Your access_token:  # {{user.secret}}
	# Use server url Eg: https://staging.datapackaged.com/
	> Server URL:

Publish

	$ cd your-data-package-directory/
	$ dpmpy publish
{% endfilter %}
	</div>
</div>
{% endblock %}
