{% extends "base.html" %}

{% block title %}
Welcome Home
{% endblock %}

{% block content %}
<!-- Jumbotron main -->
    <div class="jumbotron jumbotron-primary">
      <div class="container text-center">
        <div class="row">
            <h1>Discover Data</h1>
        </div>
        <div class="row">
          <form action="/search" method="GET">
            <input type="text" class="form-control" placeholder="e.g. country" name="q">
          </form>
        </div>
        <div class="row narrow">
          <img src="{{ s3_cdn }}/static/img/two-elephants.png" class="img-responsive" />
          <hr>
        </div>
        <div class="row">
          <p class="message">Discover, share and explore data</p>
        </div>
        <div class="row">
          <a href="#next-section" class="btn btn-lg btn-default">
            Read more
          </a>
        </div>
        <div class="row">
          <a href="#next-section">
            <i class="fa fa-chevron-down fa-2x" aria-hidden="true" style="color:black"></i>
          </a>
        </div>
      </div>
    </div><!-- End of jumbotron main -->
    <!-- Section 1 -->
    <div class="section" id="next-section">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-5">
            <div class="row">
              <h1>HAVE A LOOK AT OUR BEST DATA</h1>
            </div>
            {% for package in showcase_packages %}
              <div class="row">
                <div class="col-xs-3">
                  <img src="{{ s3_cdn }}/static/img/cube05.png" class="img-responsive" />
                </div>
                <div class="col-xs-9">
                  <h3>{{ package['descriptor']['title'] }}</h3>
                  <p>{{ package.short_readme|truncate(100) }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="col-md-5 col-md-offset-2">
            <div class="row">
              <h1>SHARE & STORE YOUR DATA</h1>
            </div>
            {% for package in tutorial_packages %}
              <div class="row">
                <div class="col-xs-3">
                  <img src="{{ s3_cdn }}/static/img/cube06.png" class="img-responsive" />
                </div>
                <div class="col-xs-9">
                  <h3>{{ package['descriptor']['title'] }}</h3>
                  <p>{{ package.short_readme |truncate(100) }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>


      </div>
    </div><!-- End of section 1 -->
{% endblock %}
