{% extends "base.html" %}
{% block content %}
<!-- Jumbotron main -->
    <div class="jumbotron jumbotron-primary">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h1>One place to publish, install and find clean data packages!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p class="terminal-heading"><strong>Publish</strong> from the command line <span class="glyphicon glyphicon-console"></span></p>
          </div>
          <div class="col-sm-6"></div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <img src="{{ s3_cdn }}/static/img/terminal-black.png" class="img-responsive" />
          </div>
          <div class="col-sm-6">
            <img src="{{ s3_cdn }}/static/img/terminal-white.png" class="img-responsive" />
          </div>
        </div>
        <div class="row">
          <p>Start publishing now - sign up for free</p>
          <button class="btn btn-lg btn-default">Sign Up</button>
        </div>
      </div>
    </div><!-- End of jumbotron main -->
    <!-- Section 1 -->
    <div class="section">
      <div class="container">
        <div class="row text-center">
          <h3>Find Data Packages</h3>
        </div>
        <div class="row">
          <form action="/search" method="GET">
            <input type="text" class="form-control" placeholder="e.g. country" name="q">
          </form>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <img src="{{ s3_cdn }}/static/img/cube04.png" class="img-responsive" />
              </div>
              <div class="col-sm-8">
                <p>Data Packages are a lightweight containerization format for data.
                  They provide the foundation for frictionless data transport.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <img src="{{ s3_cdn }}/static/img/cube04.png" class="img-responsive" />
              </div>
              <div class="col-sm-8">
                <p>Data Packages are a lightweight containerization format for data.
                  They provide the foundation for frictionless data transport.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <img src="{{ s3_cdn }}/static/img/cube04.png" class="img-responsive" />
              </div>
              <div class="col-sm-8">
                <p>Data Packages are a lightweight containerization format for data.
                  They provide the foundation for frictionless data transport.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End of section 1 -->
{% endblock %}
